*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    font-size: 2rem;
    color: rgb(65, 22, 165);
    margin: 3rem 0;
}
form{
   border-radius: 5px;
   background-color: #eed0d0;
   height: 300px;
   width: 500px;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
input {
    height: 2rem;
    width: 80%;
    margin: 1rem 0;
    border-radius: 5px;
    border: none;
    padding: 0 10px;

    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    height: 2.5rem;
    width: 50%;

    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    background-color: rgba(9, 0, 128, 0.6);
    color: #fff;
}