*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: sans-serif;
}
/* Header Style */
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 5rem;
}

.logo img{
    height: 4rem;
    width: 16rem;
    cursor: pointer;
}
.search{
    display: flex;
    position: relative;
}
.search img{
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: 0.7rem;
    left: 1rem;
}
input::placeholder{
    padding-left: 5rem;
    font-size: 1.7rem;
    font-weight: 500;
    color: rgb(7, 7, 110);
}
.search input{
    height: 7vh;
    width: 50vw;
    border: 0.1rem solid rgb(7, 7, 110);
    border-radius: 0.3rem;
}
.button{
    display: flex;
    align-items: center;
    gap: 5rem;
    position: relative;
}
.button a{
    text-decoration: none;
    font-size: 1.7rem;
    color: rgb(7, 7, 110);
    font-family: sans-serif;
}
.button img:nth-of-type(1){
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 1.5rem;
    left: 20rem;
}
.button img:nth-of-type(2){
    height: 5rem;
    width: 5.5rem;
    border-radius: 50%;
    cursor: pointer;
}


/* Navbar Style */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    width: 85vw;
    margin: 0 6rem;
}
.nav-items a{
    text-decoration: none;
    font-size: 1.9rem;
    color: rgb(7, 7, 110);
    font-family: sans-serif; 
}
.nav-items img{
    position: relative;
    top: 0.5rem;
}

/* Crousel */

.crousel{
    display: flex;
    background-color: #1b1b4ee3;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

/* Hardwork Section */

.hardwork{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.hardwork-top{
    position: relative;
    top: -5rem;
}
.hardwork-top h1{
    font-size: 5.5rem;
    color:rgba(7, 7, 110, 0.781);
    margin-bottom: 1.5rem;
}
.hardwork-top hr{
    height: 0.6rem;
    background-color: rgb(238, 82, 26);
    width: 12vw;
    margin: 0 auto;
}
.hardwork-bottom{
    display: flex;
    gap: 17rem;
}
.images{
    text-align: center;
}

.images img{
    height: 30vh;
    width: 30vh;
}

.images p:nth-of-type(1){
    font-size: 4rem;
    color: rgba(7, 7, 110, 0.781);
    font-weight: 600;
}
.images p:nth-of-type(2){
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.733);
    font-weight: 600;
}


/* Work Section */
.work{
    height: 60vh;
    background-color: #dbd7d7;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.work-top h1{
    font-size: 5.5rem;
    color:rgba(7, 7, 110, 0.781);
    margin: 5rem 0 10rem 0;
}
marquee img{
    margin: 5rem;
}
.work-bottom img{
    height: 10vh;
}


/* Hall of Fame Section */
.hall-of-fame{
    height: 95vh;
}

.heading{
    font-size: 4rem;
    text-align: center;
    margin: 3rem auto;
    color:rgba(7, 7, 110, 0.781);
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem;
    gap:3rem;
    /* position: relative; */
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2.5rem;
    height: 60vh;
    width: 25vw;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 20px rgba(171, 171, 171, 0.55)
}

.card img:nth-of-type(1){
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin: 1.5rem;
}
.card img:nth-of-type(2){
    height: 2rem;
    width: 2rem;
    margin: 1.5rem 0;
}

.card span:nth-of-type(1){
    font-size: 2.3rem;
    color: rgba(7, 7, 110, 0.781);
    font-weight: 600;
}
.card span:nth-of-type(2){
    font-size: 1.5rem;
    color: #918f8f;
    margin: 1rem 0;
    font-weight: 600;
}

.card p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #918f8f;
    text-align: center;
}

.left-arrow{
    display: flex;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    box-shadow: 0rem 0rem 20px rgba(171, 171, 171, 0.55)
    
}

.left-arrow img {
    rotate: 90deg;
}

.right-arrow{
    display: flex;
    box-shadow: 0rem 0rem 20px rgba(171, 171, 171, 0.55);
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.right-arrow img {
    rotate: -90deg;
}

.view{
    font-size: 1.8rem;
    font-weight: 600;
    color: #6e6e70;
    text-align: center;
}


/* Live Program */
.live-section{
    height: 100vh;
    margin-bottom: 8rem;
}

.live-heading p{
    font-size: 1.8rem;
    color: #6e6e70;
    font-weight: 500;
    text-align: center;
}

.course{
   height: 70vh;
   width: 30vw;
   padding: 1.5rem;
   box-shadow: 0rem 0rem 20px rgba(171, 171, 171, 0.55);
}

.course h2{
    font-size: 2rem;
    color:rgba(7, 7, 110, 0.781);
    margin: 2rem 0;
}

.details{
    display: flex;
    flex-direction: column;
}
.details>p{
    position: relative;
}
.details>p:nth-of-type(1){
    font-size: 1.8rem;
    font-weight: 500;
    color: #5b5b5c;
    margin: 3rem 0;
}
.details>p:nth-of-type(2){
    display: flex;
    gap: 12rem;
}

.details>p span:nth-of-type(1){
    font-size: 1.8rem;
    font-weight: 600;
    color: black;
}


.details button{
    height: 3rem;
    width: 5rem;
    background-color: lightblue;
    border: 0.1rem solid rgb(30, 30, 253);
    border-radius: 0.5rem;
}
.courses{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 5rem;
    gap: 5rem;
}

.course img{
    height: 30vh;
    width: 22vw;
    border-radius: 1rem;
}


/* One Neuron */

.oneNeuron-section{
    height: 100vh;
    margin-bottom: 12rem;
}

.oneNeuron-heading p{
    font-size: 1.8rem;
    color: #6e6e70;
    font-weight: 500;
    text-align: center;
}

.oneNeuron-details>p:nth-of-type(1){
    font-size: 1.8rem;
    font-weight: 500;
    color: #5b5b5c;
    margin: 2rem 0;
}

.oneNeuron-course{
    height: 75vh;
    width: 35vw;
    padding: 1.5rem;
    box-shadow: 0rem 0rem 20px rgba(171, 171, 171, 0.55);
}

.oneNeuron-course img{
    height: 30vh;
    width: 22vw;
    border-radius: 1rem;
}

.oneNeuron-course h2{
    font-size: 2rem;
    color:rgba(7, 7, 110, 0.781);
    margin: 2rem 0;
}

.oneNeuron-details>p span:nth-of-type(1){
    font-size: 1.8rem;
    font-weight: 600;
    color: black;
}

/* Test series */

.test-course{
    height: 55vh;
    width: 30vw;
    padding: 1.5rem;
    box-shadow: 0rem 0rem 20px rgba(171, 171, 171, 0.55);
 }

 .test-course img{
    height: 30vh;
    width: 22vw;
    border-radius: 1rem;
}

.test-course h2{
    font-size: 2rem;
    color:rgba(7, 7, 110, 0.781);
    margin: 2rem 0;
}

/* Hackathon Conducted*/

.hack-section{
    height: 80%;
}

.hack-section>div h1{
    font-size: 5rem;
    color:rgba(7, 7, 110, 0.781);
    text-align: center;
}
.hack-section>div{
    text-align: center;
}

.hack-section img{
    height: 100%;
}

/* Hackathon's Companies */

.hack-companies{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60vh;
    background-color: #ebe7e7;
    margin: 2rem 0;
}

.hack-companies h1{
    font-size: 5rem;
    color:rgba(7, 7, 110, 0.781);
    text-align: center;
}

marquee div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Our Products */
.our-product-section{
    margin: 5rem 0; 
}
.our-product-section>div h1{
    font-size: 5rem;
    color:rgba(7, 7, 110, 0.781);
    text-align: center;
}
.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9rem ;
    margin: 10rem 0;
}

.products-top{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.products-top div{
    height: 30rem;
    width: 30rem;
    text-align: center;     
}

.products-top div h3{
    font-size: 2.5rem;
    color:rgba(7, 7, 110, 0.781);
    margin: 3rem 0;
}
.products-top div p{
    font-size: 2rem;
    color: #808080;
    margin: 3rem 0;
}

.products-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.products-bottom div{
    height: 30rem;
    width: 30rem;
    text-align: center;     
}

.products-bottom div h3{
    font-size: 2.5rem;
    color:rgba(7, 7, 110, 0.781);
    margin: 3rem 0;
}
.products-bottom div p{
    font-size: 2rem;
    color: #808080;
    margin: 3rem 0;
}

/*  */
.partners{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60vh;
    margin: 5rem 0;
}

.partners h1{
    font-size: 5rem;
    color:rgba(7, 7, 110, 0.781);
    text-align: center;
}

.partners-img{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.partners-img img{
    height: 20rem;
    width: 20rem;
}

/* Footer */

footer{
    background-color: #383CC1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    padding-left: 4rem;
}

/* First footer div */
.first-div{
   height: 80vh;
   width: 25vw; 
}

.first-div div:nth-of-type(2){
    padding: 3rem 0;
}
.first-div div:nth-of-type(3) div{
    display: flex;
}

.first-div div:nth-of-type(2) svg{
    height: 2.5rem;
    width: 2.5rem;
    color: #fff;
}
.first-div div:nth-of-type(3) svg{
    height: 3rem;
    width: 5rem;
    color: #fff;
}
.footer-span{
    font-size: 2rem;
    color: rgb(226, 224, 224);
    padding-left: 2rem;
}

/* Second footer div */
.second-div{
    height: 60vh;
    width: 25vw; 
    position: relative;
    top: -6rem;
 }
.second-div h1{
    font-size: 3.5rem;
    color: #fff;
 }
.second-div div:nth-of-type(2){
    display: flex;
    color: rgb(226, 224, 224);
    font-size: 2rem;
 }

 /* Third Footer div */

 .third-div{
    height: 60vh;
    width: 20vw; 
    position: relative;
    top: -6rem;
 }
.third-div h1{
    font-size: 3.5rem;
    color: #fff;
 }
.third-div div:nth-of-type(2){
    display: flex;
    color: rgb(226, 224, 224);
    font-size: 2rem;
 }

 ul {
    list-style-type: none;
    padding: 1.8rem 0;
    width: 50%;
 }
 ul li{
    padding: 1rem 0;
 }





 /* ************ Media Query************** */

 @media screen and (max-width: 480px) {
    .header{
        gap: 2rem;
    }
     header .button{
        display: none;
     }
     input::placeholder{
        font-size: 90%;
    } 

    .navbar{
        display: none;
    }

    .hardwork{
        margin: 6rem 0;
    }  
    .hardwork-top h1{
        font-size: 3rem;
    }


    .work{
        margin: 5rem 0;
    }
    .work-top h1{
        font-size: 5rem;
        margin: 5rem 0 3rem 0;  
    }

    .hall-of-fame{
        margin: 5rem 0;
        height: 60%;
    }
    .cards{
        display: block;
    }
    .card{
        height: 80%;
        width: 100%;
        margin: 2rem 0;
    }
    .cards .left-arrow, .right-arrow{
        display: none;
    }




    .courses{
        display: block;
    }
    .live-section{
        height: 70%;
    }
    .course{
        height: 80%;
        width: 100%;
        margin: 2rem 0;
    }
    .courses .left-arrow, .right-arrow{
        display: none;
    }
    .course img {
        width: 90%;
    }



    .oneNeuron-section{
        height: 80%;
    }
    .oneNeuron-course{
        height: 80%;
        width: 100%;
        margin: 2rem 0;
    }
    .oneNeuron-course img {
        width: 90%;
    }




    .test-course{
        height: 80%;
        width: 100%;
        margin: 2rem 0;
    }
    .test-course img {
        width: 90%;
    }

    .hack-section img{
        height: 50%;
    }


    .products{
        gap: 5rem ;
        margin: 2rem 0;
    }
    .products-top{
        display: block;
    }
    .products-top div{
        width: auto;
        margin: 2rem 0;
    }
    .products-bottom{
        display: block;
    }
    .products-bottom div{
        width: auto;
        margin: 2rem 0;
    }


    .partners-img{
        justify-content: space-between;
    }
    .partners-img img {
        height: 8rem;
        width: 8rem;
    }
    .partners{
        height: 70%;
    }

    footer{
        display: block;
        padding: 5rem;
        height: 100%;
    }
    .first-div{
        height: 50%;
        width: auto;
    }
    .second-div{
        width: auto;
        top: 0rem;
     }
    .third-div{
        width: auto;
        top: 0rem;
     }
 }


 @media (min-width: 481px) and (max-width:768px) {
    header .button, .logo{
        display: none;
     }


     .nav-items {
        display: none;
     }


     .hardwork{
        margin: 6rem 0;
    }  
    .hardwork-top h1{
        font-size: 3rem;
    }
    


     .work{
        margin: 5rem 0;
    }
    .work-top h1{
        font-size: 3.5rem;
        margin: 5rem 0 3rem 0;  
    }
    

    .hall-of-fame{
        
        height: 60%; 

    }
    .cards{
        display: flex;
        flex-wrap: wrap;
    }
    .cards div:nth-of-type(3){
        display: none;
    }
    .cards div:nth-of-type(4){
        display: none;
    }
    .card{
        height: auto;
        width: 50%;
    }
    .cards .left-arrow, .right-arrow{
        height: 3rem;
        width: 3rem;
    }



    .live-section{
        height: 70%;
    }
    .courses .left-arrow, .right-arrow{
        height: 3rem;
        width: 3rem;
    }
    .courses div:nth-of-type(3){
        display: none;
    }
    .courses div:nth-of-type(4){
        display: none;
    }
    .course{
        height: auto;
        width: 50%;
    }
    .course img{
        width: 100%;
    }



    .oneNeuron-course{
        width: 60%;
        height: 40%;
    }
    .oneNeuron-course img{
        width: 100%;
    }



    .test-course{
        width: 60%;
        height: 40%;
    }
    .test-course img{
        width: 100%;
    }



    .hack-section>div h1{
        font-size: 3rem;
    }
    .hack-section img{
        width: 50%;
        height: 50%;
    }


    .hack-companies h1{
        font-size: 3.5rem;
    }


    .products{
        gap: 5rem ;
        margin: 2rem 0;
    }
    .products-top{
        display: block;
    }
    .products-top div{
        width: auto;
        margin: 2rem 0;
    }
    .products-top div p{
        margin: 0 20rem;

    }
    .products-bottom{
        display: block;
    }
    .products-bottom div{
        width: auto;
        margin: 2rem 0;
    }
    .products-bottom div p{
        margin: 0 20rem;
    }


    
    .partners-img img {
        height: 15rem;
        width: 15rem;
    }
    .partners h1{
        font-size: 3.5rem;
    }

    footer{
        display: block;
        height: 100%;
    }
    .first-div{
        height: auto;
        width: 50%;
        margin: 0rem 17rem;
        padding: 2rem;
    }
    .second-div, .third-div{
        height: auto;
        width: 50%;
        margin: 10rem 17rem;
     }
    
 }



 @media (min-width: 769px) and (max-width:1024px) {
    header .button, .logo{
        display: none;
     }


     .hardwork-top h1{
        font-size: 3.7rem;
    }


    .work-top h1{
        font-size: 4.5rem;
        }


    .cards div:nth-of-type(3){
            display: none;
        }
    .cards div:nth-of-type(4){
            display: none;
        }
    .card{
            width: 48%;
        }
        


    .courses div:nth-of-type(3){
        display: none;
    }
    .courses div:nth-of-type(4){
        display: none;
    }
    .course{
        height: auto;
        width: 50%;
    }
    .course img{
        width: 100%;
    }
     .left-arrow, .right-arrow{
        height: 3rem;
        width: 3rem;
    }
    
     
    .oneNeuron-course{
        width: 60%;
        height: 40%;
    }
    .oneNeuron-course img{
        width: 100%;
    }


    .test-course{
        width: 60%;
        height: 40%;
    }
    .test-course img{
        width: 100%;
    }


    .hack-section>div h1{
        font-size: 4rem;
    }
    .hack-section img{
        height: 50%;
    }


    .hack-companies h1{
        font-size: 4.5rem;
    }


    .products{
        gap: 5rem ;
        margin: 2rem 0;
    }
    .products-top{
        display: block;
    }
    .products-top div{
        width: auto;
        margin: 2rem 0;
    }
    .products-top div p{
        margin: 0 22rem;

    }
    .products-bottom{
        display: block;
    }
    .products-bottom div{
        width: auto;
        margin: 2rem 0;
    }
    .products-bottom div p{
        margin: 0 20rem;
    }


    .partners h1{
        font-size: 4rem;
    }

    footer{
        display: block;
        height: 100%;
    }
    .first-div{
        height: auto;
        width: 50%;
        margin: 0rem 25rem;
        padding: 2rem;
    }
    .second-div, .third-div{
        height: auto;
        width: 50%;
        margin: 10rem 25rem;
     }
 }


 @media (min-width: 1025px) and (max-width:1260px) {
    header .button, .logo{
        display: none;
     }


     .hardwork-top h1{
        font-size: 4rem;
    }


    .work-top h1{
        font-size: 5rem;
    }


    .hall-of-fame{
        height: 80%;
    }
    .cards div:nth-of-type(3){
        display: none;
    }
.cards div:nth-of-type(4){
        display: none;
    }
.card{
        width: 42%;
        height: 70%;
    }

    .courses div:nth-of-type(3){
        display: none;
    }
    .courses div:nth-of-type(4){
        display: none;
    }
    .course{
        height: auto;
        width: 42%;
    }
    .course img{
        width: 100%;
    }
     .left-arrow, .right-arrow{
        height: 3rem;
        width: 3rem;
    }


    .oneNeuron-course{
        width: 50%;
        height: 50%;
    }
    .oneNeuron-course img{
        width: 100%;
    }


    .test-course{
        width: 50%;
        height: 50%;
    }
    .test-course img{
        width: 100%;
    }



    
    .products{
        gap: 5rem ;
        margin: 2rem 0;
    }
    .products-top{
        display: block;
    }
    .products-top div{
        width: auto;
        margin: 2rem 0;
    }
    .products-top div p{
        margin: 0 22rem;
    }
    .products-bottom{
        display: block;
    }
    .products-bottom div{
        width: auto;
        margin: 5rem 0;
    }
    .products-bottom div p{
        margin: 0 35rem;
    }


    footer{
        display: block;
        height: 100%;
    }
    .first-div{
        height: auto;
        width: 45%;
        margin: 0rem 30rem;
        padding: 3rem;
    }
    .second-div, .third-div{
        height: auto;
        width: 45%;
        margin: 10rem 30rem;
     }

 }
 

@media (min-width:1261px){
    .search img{
        height: 70%;
    }


    .crousel{
        margin: 4rem 0;
        height: 100%;
    }


    .hardwork-bottom{
        gap: 8rem;
    }

    .cards{
        gap: 1rem;
        position: relative;
        left: -5rem;
    }


    .left-arrow, .right-arrow{
        height: 3rem;
        width: 3rem;
    }

    .courses{
        position: relative;
        left: -5rem;
        gap: 1rem;
    }
    .course{
        width: 40%;
        height: auto;
    }
    .course img{
        width: 100%;
        height: 100%;
    }


    .live-section{
        height: 100%;
    }



    .oneNeuron-section{
        height: 100%;
    }
    .oneNeuron-course{
        width: 40%;
        height: auto;
    }
    .oneNeuron-course img{
        width: 100%;
        height: auto;
    }


    .test-section{
        height: 100%;
    }
    .test-course{
        width: 40%;
        height: auto;
    }
    .test-course img{
        width: 100%;
        height: auto;
    }

    .products-top{
        gap: 5rem;
    }

    footer{
        height: 100%;
    }
    .first-div{
        height: 100%;
        margin: 2rem 0;
    }
}